@media (max-width: 360px) {
.menu {
  display: flex;
  background: white;
}
.icon{
  display: flex;
}
}

media (min-width: 480px) {
.menu {
  display: flex;
  background: white;
}
.icon{
  display: flex;
}
}
